# Python
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt

# Environment variables
.env

uploads/
checkpoints/
!checkpoints/progress.json
*.zip

# OS files
.DS_Store
Thumbs.db
